@CHARSET "ISO-8859-1";

ul {
	list-style: none;
}

ul li {
	list-style: none;
}



.input_cntr {
	border: 1px solid black;
	width: 368px;
	margin: 1px 2px 3px 4px;
	float: left;
	height: 388px;
}

.input_field_cntr {
	margin: 12px 1px 15px 14px;
	padding: 1px 2px 3px 4px;
}

.input_label {
	width: 175px;
	display: inline-block;
}

.input_field {
	width: 133px;
	padding: 1px 0px 1px 3px;
}

.px126 {
	width: 126px !important;
}

.px192 {
	width: 192px !important;
}

.clear-1 {
	clear: both;
	height: 1px;
}

.explain_div {
	
}

.ctrl_div {
	
}

.plot_cntr {
	border: 1px solid black;
	margin: 1px 2px 3px 4px;
	height: 1000px; 
	width: 1496px;
	float: left;
	
	overflow: auto;
}

.plot {
	float: left;
	/* border: 1px solid green */
}

.json_log_cntr {
	border: 1px solid black;
	margin: 1px 2px 3px 4px;
	height: 470px; 
	width: 1872px;
	
	overflow: auto;
}

.section_label {
	font-size: 18px;
	margin: 4px 3px 5px 17px;
}

.stats_cntr {
	
	border: 1px solid black;
	margin: 1px 2px 3px 4px;
	
	float: left;
	height: 320px;
	
	width: 368px;
	
	float: left;
}

#stats_cntr_2 {
	height: 674px !important;
}


.ctrl_button {
	width: 133px;
}

/*  switch */
.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 23px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 35px;
  left: 7px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* switch end */

div#error_cntr {
	display: none
}

div#error_content {
	color: orange
}

pre {
    white-space: pre-wrap;
    display: inline-block;
}


